.home__container {
    margin: 0 1rem;
	@media ( min-width: 768px ) {
		margin: 0 1.5rem;
	}
    @media ( min-width: 1000px ) {
        max-width: 1000px;
        margin: 0 auto;
	}

    .about {
        scroll-margin-top: 90px;
    }
        .about__image {
            
            figure {
                width: calc(100% + 2rem);
                margin: 1rem -1rem 0 -1rem;
                text-align: center;
                img {
                    border-radius: 3px;
                }
            }
        }
        .about__text {
            white-space: pre-line;
            scroll-margin-top: 230px;
        }
        .mission__wrap {
            background-color: $color__base1;
            padding: 1rem;
            border-radius: 3px;
            margin-top: 1rem;
            h3 {
                margin-top: 0;
            }
        }
        .vision_wrap {
            background-color: $color__base1;
            padding: 1rem;
            border-radius: 3px;
            margin-top: 1rem;
            h3 {
                margin-top: 0;
            }
        }

        @media (min-width:600px) {
            .mission__vision__wrap {
                display: flex;
            }
            .mission__wrap {
                flex: 1;
                padding: 1rem;
                margin: .5rem;
            }
            .vision_wrap {
                flex: 1;
                padding: 1rem;
                margin: .5rem;
            }
        }
        @media (min-width:768px) {
            .about__wrap {
                display: flex;
                align-items: center;
            }
            .about__image {
                flex: 1;
                img {
                    max-width: 500px;
                    object-fit: cover;
                    min-height: 380px;
                    margin: 1rem;
                }
            }
            .about__text {
                flex: 1;
            }
        }
}